@import "tailwindcss";
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-animate {
  animation: scroll-left 20s linear infinite;
}